@model IEnumerable<panelim.Models.yorum>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.y_icerik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.y_secenek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kullanici.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kurs.KursAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.y_icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.y_secenek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kullanici.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kurs.KursAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
