@model IEnumerable<panelim.Models.Sayfalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-heading">
    <h3>SAYFALAR</h3>
</div>
<div class="panel-body">

    <p>
        @Html.ActionLink("Yeni Sayfa", "Create", null, new { @class = "btn btn-success" })
    </p>
    <hr />
    <table id="tblSayfa" class="table table-bordered" style="background-color:white; ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SayfaAdi)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.sayfaaktif)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sirano)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SayfaAdi)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.sayfaaktif)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sirano)
                    </td>

                    <td>
                        @Html.ActionLink("Düzenle", "Edit", new { id = item.Id, }, new { @class = "btn btn-primary" }) |
                        <a class="btn btn-warning btnSayfaSil" data-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
@section scripts{
    <script>
    $(function () {
        $("#tblSayfa").DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        })
    });
    $(function () {
    $("#tblSayfa").on("click", ".btnSayfaSil", function () {
        var btn = $(this);
        bootbox.confirm("Sayfayı Silmek İstediğinizden Emin Misiniz ?", function (result) {
            if (result) {
                var id = btn.data("id");

                $.ajax({
                    type: "GET",
                    url: "/Sayfalar/Sil/" + id,
                    success: function () {
                        btn.parent().parent().remove();

                    }
                });
            }
        })
    });

});
    </script>
}
