

@{
    ViewBag.Title = "KursDetay";
    Layout = "~/Views/Home/Temp1.cshtml";
}
<style>
    .modal-backdrop {
        display: none !important;
    }
</style>
@foreach (var i in genelIslem.kursum(ViewBag.id))
{
    <div class="breadcumb-area">
        <!-- Breadcumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
            </ol>
        </nav>
    </div>

    <div class="single-course-intro d-flex align-items-center justify-content-center" style="background-image: url(/Content/template/img/bg-img/bg3.jpg);">
        <!-- Content -->
        <div class="single-course-intro-content text-center">
            <!-- Ratings -->
            <div class="ratings">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <h3>@i.KursAdi</h3>
            <div class="meta d-flex align-items-center justify-content-center">
                <a href="#">@i.KursVeren</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#">@i.KursKategori</a>
            </div>
            <div class="price">@i.KursUcret</div>
        </div>
    </div>
    <div class="single-course-content section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="course--content">

                        <div class="clever-tabs-content">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false">Açıklama</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="true">Dersler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="true">Yorumlar</a>
                                </li>

                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <!-- Tab Text -->
                                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                                    <div class="clever-description">

                                        <!-- About Course -->
                                        <div class="about-course mb-30">

                                            <p>@i.KursHakkinda</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tab Text -->
                                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                                    <div class="clever-curriculum">

                                        @foreach (var ders in genelIslem.derslers(i.KursId))
                                        {
                                            <!-- Curriculum Level -->
                                            <div class="curriculum-level mb-30">
                                                <h4 class="d-flex justify-content-between"><span>@ders.DersAdi</span> <span>0/4</span></h4>

                                                <p>@ders.DersIcerik</p>

                                                <ul class="curriculum-list">
                                                    <li>
                                                        <i class="fa fa-file" aria-hidden="true"></i> 1 video, 1 audio, 1 reading
                                                        <ul>
                                                            <li>
                                                                <span><i class="fa fa-video-camera" aria-hidden="true"></i> Vid9eo:</span>
                                                                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter">
                                                                   İzle
                                                                </button>

                                                                <!-- Modal -->
                                                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="exampleModalLongTitle">@ders.DersAdi</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                ...
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
                                                            </li>
                                                            <li>
                                                                <span><i class="fa fa-file-text" aria-hidden="true"></i> Reading: <span>Word Types</span></span>
                                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
                                                            </li>
                                                            <li>
                                                                <span><i class="fa fa-volume-down" aria-hidden="true"></i> Audio: <span>Listening Exercise</span></span>
                                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> 15 minutes</span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="d-flex justify-content-between">
                                                        <span><i class="fa fa-graduation-cap" aria-hidden="true"></i> Graded: Cumulative Language Quiz</span>
                                                        <span>3 Questions</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        }



                                    </div>
                                </div>

                                <!-- Tab Text -->
                                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                                    <div class="clever-review">
                                        @foreach (var y in genelIslem.yorum(i.KursId))
                                        {
                                            <div class="single-review mb-30">
                                                <div class="d-flex justify-content-between mb-30">
                                                    <!-- Review Admin -->
                                                    <div class="review-admin d-flex">
                                                        <div class="thumb">
                                                            <img src="~/Content/template/img/bg-img/t1.png" alt="">
                                                        </div>
                                                        <div class="text">
                                                            <h6>@genelIslem.kullanici(y.y_yapan)</h6>
                                                            <span>@DateTime.Now</span>
                                                        </div>
                                                    </div>
                                                    <!-- Ratings -->
                                                    <div class="ratings">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <p>@y.y_icerik</p>
                                            </div>
                                        }
                                        <!-- About Review -->
                                        <div class="about-review mb-30">
                                            <h4>Yorum Ve Sorularınız İçin</h4>
                                            <form action="#" method="post">
                                                <div class="row">
                                                    <div class="col-12 col-lg-12">
                                                        <div class="form-group">
                                                            <input type="text"  rel="@i.KursId"class=" form-control" id="yorum" placeholder="Yorumunuz">
                                                        </div>
                                                    </div>
                                                    <div class="col-3">

                                                        <button type="submit" id="yorumcu" class="btn clever-btn w-100">Gönder</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="course-sidebar">
                        <!-- Buy Course -->
                        <a href="#" class="btn clever-btn mb-30 w-100">Satın Al</a>



                        <!-- Widget -->
                        <div class="sidebar-widget">
                            <h4>Certification</h4>
                            <img src="~/Content/template/img/bg-img/cer.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script>
        $(document).ready(function () {
            $("#yorumcu").click (function () {

                var y_icerik = $("#yorum").val();
                var y_secenek = "kurs";
                var y_id = $("#yorum").attr("rel");
                $.ajax({
                    url: "/yorum/YorumYap",
                    data: { "y_icerik": y_icerik, "y_secenek": y_secenek, "y_id": y_id },
                    type: "post",
                    dataType: "json",
                    success: function () {
              
                        bootbox.alert("Kayıt Başarılı");
                    },
                    error: function (xhr) {
                        alert("kaydetme hatası");
                    }
                })
            });
        });
    </script>
}



