
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *Must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>ÖĞRENCİM.COM</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Content/template/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link href="~/Content/template/css/animate.css" rel="stylesheet" />
    <link href="~/Content/template/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/template/css/owl.carousel.min.css" rel="stylesheet" />

    <link href="~/Content/template/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/template/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/template/css/classy-nav.min.css" rel="stylesheet" />

    <link href="~/Content/template/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>Telefon:</span> +90 541 303 0266</a>
                <a href="#"><span>Email:</span> info@altay.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Takip Et</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="clever-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="cleverNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="index.html">@Html.Raw(@genelIslem.logo())</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                @if (@genelIslem.tblAltMenu(1) != null)
                                {
                                    foreach (var item in @genelIslem.tblAltMenu(1))
                                    {
                                        int altMenuSayisi = 0;

                                        foreach (var alt in genelIslem.altmenuler(item.Id))
                                        {

                                            altMenuSayisi += 1;
                                        }


                                        <li>
                                            @if (altMenuSayisi == 0)
                                            {
                                                <a href="/Home/@genelIslem.sayfaIddenAd(item.SayfaId)" onclick="return gopos(@item.SayfaId)">@genelIslem.sayfaIddenAd(@item.SayfaId)</a>
                                                foreach (var alt in genelIslem.altmenuler(item.Id))
                                                {

                                                    <ul>
                                                        <li><a href="/Home/@genelIslem.sayfaIddenAd(item.SayfaId)" onclick="return gopos(@alt.SayfaId)">@genelIslem.sayfaIddenAd(alt.SayfaId)</a></li>
                                                    </ul>
                                                }



                                            }
                                            else
                                            {
                                                <a href="#">@genelIslem.sayfaIddenAd(@item.SayfaId)</a>
                                                foreach (var alt in genelIslem.altmenuler(item.Id))
                                                {

                                                    <ul>
                                                        <li><a href="/Home/@genelIslem.sayfaIddenAd(item.SayfaId)" onclick="return gopos(@alt.SayfaId)">@genelIslem.sayfaIddenAd(alt.SayfaId)</a></li>
                                                    </ul>
                                                }
                                            }


                                        </li>



                                    }
                                }
                            </ul>

                            <!-- Search Button -->
                            <div class="search-area">
                                <form action="#" method="post">
                                    <input type="search" name="search" id="search" placeholder="Arama">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>

                            <!-- Register / Login -->
                            <div class="register-login-area">


                                @if (genelIslem.loginOlmusmu() == 0)
                                {
                                    <a href="/Security/Register" class="btn">Kayıt Ol</a>
                                    <a href="/Security/Login" class="btn active">Giriş Yap</a>
                                }
                                else
                                {
                                    <a href="/Security/Logout" class="btn active">Çıkış</a>
                                }
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer class="footer-area">


        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area d-flex justify-content-between align-items-center">
            <!-- Contact Info -->
            <div class="contact-info">
                <a href="#"><span>Telefon:</span> +90 541 303 0266 </a>
                <a href="#"><span>Email:</span> info@altay.com</a>
            </div>
            <!-- Follow Us -->
            <div class="follow-us">
                <span>Takip Et</span>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/template/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Scripts/template/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Scripts/template/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="~/Scripts/template/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="~/Scripts/template/js/active.js"></script>
    @RenderSection("scripts", false)
</body>

</html>